@import './variables.scss';

body {
    background-color: $bodyBackgroundBridalHeath;
}
.btn-outline-primary {
    cursor: pointer;
    color: $white;
    background-color: $dodgerBlue;
    border-color: $dodgerBlue;
    &:hover {
        color: $dodgerBlue;
        background-color: $white;
        border-color: $dodgerBlue;
    }
    &:active {
        color: $white !important;
        background-color: $dodgerBlue !important;
        border-color: $dodgerBlue !important;
    }
}

.btn-outline-danger {
    color: $white;
    background-color: $persimmon;
    border-color: $persimmon;
    &:hover {
        color: $persimmon;
        background-color: $white;
        border-color: $persimmon;
    }
    &:active {
        color: $white !important;
        background-color: $persimmon !important;
        border-color: $persimmon !important;
    }
}


.btn-outline-info {
    color: $white;
    background-color: $easternBlue;
    border-color: $easternBlue;
}

.btn-outline-info:hover {
    color: $easternBlue;
    background-color: $white;
    border-color: $easternBlue;
}
.border-primary {
    border-color: $dodgerBlue !important;
    &:hover {
        color: $dodgerBlue !important;
    }
}