body {
    background-color: #fff8f0;
}
.btn-outline-primary {
    cursor: pointer;
    color: #fff;
    background-color: #5a7bff;
    border-color: #5a7bff;
}

.btn-outline-primary:hover {
    color: #5a7bff;
    background-color: #fff;
    border-color: #5a7bff;
}

.btn-outline-danger {
    color: #fff;
    background-color: #ff6450;
    border-color: #ff6450;
}

.btn-outline-danger:hover {
    color: #ff6450;
    background-color: #fff;
    border-color: #ff6450;
}

.btn-outline-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-outline-info:hover {
    color: #17a2b8;
    background-color: #fff;
    border-color: #17a2b8;
}