@import './variables.scss';

body {
    background-color: $mainBackgroundBridalHeath;
}
.btn-outline-primary {
    cursor: pointer;
    color: $white;
    background-color: $dodgerBlue;
    border-color: $dodgerBlue;
}

.btn-outline-primary:hover {
    color: $dodgerBlue;
    background-color: $white;
    border-color: $dodgerBlue;
}

.btn-outline-danger {
    color: $white;
    background-color: $persimmon;
    border-color: $persimmon;
}

.btn-outline-danger:hover {
    color: $persimmon;
    background-color: $white;
    border-color: $persimmon;
}

.btn-outline-info {
    color: $white;
    background-color: $easternBlue;
    border-color: $easternBlue;
}

.btn-outline-info:hover {
    color: $easternBlue;
    background-color: $white;
    border-color: $easternBlue;
}
.border-primary {
    border-color: $dodgerBlue !important;
    &:hover {
        color: $dodgerBlue !important;
    }
}