//Colors
$white: #fff;
$mainBackgroundBridalHeath: #fff8f0;
$grey: #777777;
$greyOpacity: rgba(119, 119, 119, 0.5);
$easternBlue: #17a2b8;
$dodgerBlue: #5a7bff;
$persimmon: #ff6450;
$darkRed: #8B0000;
$black: #212529;