.breadcrumb-root {
  display: inline-block;
  margin: 2em 0 0 2em;
}
.breadcrumb--cursor {
  cursor: pointer;
}
.breadcrumb--hide {
  display: none;
}
.breadcrumb--blue {
  color: darkblue;
}
.breadcrumb-item {
  font-size: 2em;
}