.breadcrumb-root {
  margin-left: 2em;
  border-bottom: 1px solid lightgrey;
}
.breadcrumb--inline-flex {
  display: inline-flex;
}
.breadcrumb--cursor {
  cursor: pointer;
}
.breadcrumb--nowrap {
  white-space: nowrap;
}
.breadcrumb--hide {
  display: none;
}