.breadcrumb {
  background: none;
}
.breadcrumb-root {
  display: inline-block;
  margin: 2em 0 0 4em;
  font-size: 0.8em;
}
.breadcrumb--cursor {
  cursor: pointer;
}
.breadcrumb--hide {
  display: none;
}
.breadcrumb--blue {
  color: darkblue;
}