.groups {
  margin-left: 1em;
}
.groups-headers {
  display: flex;
  margin-top: 2em;
}
.groups--margin-right {
  margin-right: 1em;
}
.groups-search {
  display: flex;
  h2 {
    margin-right: 1em;
  }
  input {
    margin-right: 3em;
  }
}
.groups-row {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  a {
    color: black;
    text-decoration: none;
  }
}
.groups-buttons {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}