.user {
  margin: 2em 0;
  h1 {
    margin-left: 1em;
  }
}
.user__search {
  display: flex;
  margin: 2em 0;
  h2 {
    margin-right: 1em;
  }
}
.user__info {
  display: flex;
  align-items: center;
  margin: 0 0 1em 3em;
}
.user--margin-right {
  margin-right: 1em;
}
.user__groups-table {
  width: 90%;
  margin: 0 auto;
}
.user__leave-group {
  margin-left: 1em;
}
.user__groups-list {
  opacity: 1;
  cursor: pointer;
}
.user--hide {
  display: none;
}
.user--light-grey {
  opacity: .5;
}