@import '../../variables';

.user {
  margin: 1em 0;
  .user-header {
    font-size: 1.4em;
    margin-left: 2.9em;
  }
}
.user__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 1em 5em;
  .user__info__forms {
    display: flex;
    flex-direction: column;
    label {
      font-size: 1.2em;
      color: $grey;
      span {
        color: $black;
      }
    }
  }
  .user__info__buttons {
    display: flex;
    margin-top: 1em;
  }
}
.user--margin-right {
  margin-right: 1em;
  input {
    margin-bottom: 1em;
  }
}
.user__groups-table {
  margin: 0 4em;
  .buttons-field {
    text-align: right;
  }
  th {
    vertical-align: baseline;
    h5 {
      margin: 0.2em 0;
    }
  }
  td {
    vertical-align: baseline;
    h5 {
      margin: 0;
    }
  }
}
.user__leave-group {
  margin-left: 1em;
}
.user__join-group {
  margin-left: 1em;
}
.user__groups-list {
  opacity: 1;
  cursor: pointer;
}
.user--hide {
  display: none;
}
.user--light-grey {
  opacity: .5;
}