.navbar, .navbar-expand {
  display: flex;
  align-items: baseline;
}
.navbar-brand {
  display: flex;
  align-items: baseline;
  margin: 0 2.5em 0 auto;
  cursor: pointer;
  i {
    margin-right: 0.5em;
  }
}
.header--hide {
  display: none;
}