.users {
    margin: 0 4em;
}
.users--margin-right {
    margin-right: 1em;
}
.users__table {
    margin-top: 2em;
    th {
        vertical-align: baseline;
    }
    td {
        vertical-align: baseline;
        label {
            cursor: pointer;
        }
    }
}
.users__buttons {
    display: flex;
    justify-content: flex-end;
    border-top: none !important;
}
.users--cursor {
    cursor: pointer;
}
.users--margin-bottom {
    margin-bottom: 5em;
}
.users--hide {
    display: none;
}
.users--hide-remove {
    visibility: hidden;
}
.users__create-user {
    cursor: pointer;
}