.users {
    width: 90%;
    margin: 0 auto;
}
.users--margin-right {
    margin-right: 1em;
}
.users__table {
    margin-top: 2em;
}
.users__buttons {
    display: flex;
    justify-content: flex-end;
}
.users--cursor {
    cursor: pointer;
}
.users--margin-bottom {
    margin-bottom: 5em;
}
.users--hide {
    display: none;
}