.login {
  margin: 2em 0 0;
  h2 {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
  }
  input[name="username"] {
    margin-bottom: 1em;
  }
}
.login--row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  div {
    max-width: 15%;
    min-width: 20em;
  }
}
.login__send {
  width: 6em;
  margin: 2em 0 0 1em;
  align-self: center;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  &:hover {
    color: #007bff;
    background-color: #fff;
    border-color: #007bff;
  }
}
