.groups {
  width: 90%;
  margin: 0 auto;
}
.groups--margin-right {
  margin-right: 1em;
}
.groups__table {
  margin-top: 2em;
}
.groups__buttons {
  display: flex;
  justify-content: flex-end;
}
.groups--margin-bottom {
  margin-bottom: 5em;
}
.groups--hide {
  display: none;
}
.groups--cursor {
  cursor: pointer;
}