.groups {
  margin: 0 4em;
}
.groups--margin-right {
  margin-right: 1em;
}
.groups__table {
  margin-top: 2em;
  th {
    vertical-align: baseline;
    h5 {
      margin: 0.2em 0;
    }
  }
  td {
    vertical-align: baseline;
  }
}
.groups__buttons {
  display: flex;
  justify-content: flex-end;
}
.groups--margin-bottom {
  margin-bottom: 5em;
}
.groups--hide {
  display: none;
}
.groups--cursor {
  cursor: pointer;
}
.groups__create-group {
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  &:hover {
    color: #007bff;
    background-color: #fff;
    border-color: #007bff;
  }
}