.groups {
  width: 90%;
  margin: 0 auto;
}
.groups--margin-right {
  margin-right: 1em;
}
.groups__search {
  display: flex;
  margin: 2em 0;
  h2 {
    margin-right: 1em;
  }
  input {
    margin-right: 3em;
  }
}
.groups__table {
  margin-top: 2em;
}
.groups--margin-bottom {
  margin-bottom: 5em;
}
.groups--hide {
  display: none;
}
.groups--cursor {
  cursor: pointer;
}