.create-group {
  margin: 1em 0 0 4em;
}
.create-group--row {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  input {
    margin-bottom: 0.5em;
  }
}
.create-group__send {
  margin-right: 30em;
  align-self: flex-end;
}