@import '../../variables';

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: $greyOpacity;
}
.modal-window {
  position: fixed;
  top: 10%;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.modal-content {
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1;
}
.modal-content--hide {
  transition: transform 0.3s, opacity 0.3s;
  transform: rotate(0deg) translateY(-30%);
  opacity: 0;
}
.modal--hide {
  display: none;
}