.groups {
  margin-left: 1em;
}
.groups-headers {
  display: flex;
  margin-top: 2em;
}
.groups-row {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  a {
    color: black;
    text-decoration: none;
  }
}
.groups-buttons {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}