.headers {
  display: flex;
  width: 60em;
  h1 {
    width: 20%;
  }
}
.group-row {
  display: flex;
  width: 60em;
  margin-top: 0.5em;
  a {
    width: 20%;
    color: black;
    text-decoration: none;
  }
}